@import '../includes/variables';
@import '../includes/mixins';

$menuBackGroundColor: $superLightGray;

#menu{
    padding: 50px;
    width: 258px;
    height: 100%;
    overflow: auto;
    position: fixed;
    z-index: 1;
    background-color: $menuBackGroundColor;

    .logo{
        background: url('/cmsassets/images/kikcms.png') no-repeat;
        background-size: 158px 37px;
        width: 158px;
        height: 37px;
        margin-bottom: 37px;
        display: block;
        margin-top: -2px;
    }

    .menu-group{
        @include clearFix();
        margin-bottom: 36px;

        .title {
            padding: 8px;
            text-transform: uppercase;
            font-weight: 400;
            color: $lightGray;
        }
    }

    .menu-item{
        display: block;
        padding: 10px;
        color: $colorBlack;
        border-radius: $defaultBorderRadius;
        line-height: 14px;
        border-top: 1px solid $menuBackGroundColor;
        border-bottom: 1px solid $menuBackGroundColor;

        &.selected{
            background-color: $colorPink;
            color: $colorWhite;
        }

        &:hover{
            text-decoration: none;

            &:not(.selected){
                background-color: $pinkHover;
            }
        }
    }

    @media #{$lowerThanDesktop} {
        position: absolute;
    }
}

#main{
    padding: 50px 50px 50px 308px;
    height: 100%;
    width: 100%;
    min-width: 1130px;

    #main-content{
        padding-bottom: 50px;

        h1{
            margin: 0 0 44px 0;
            line-height: 36px;
        }

        > ol.breadcrumb:first-child{
            margin-bottom: 44px;
        }
    }
}