@import "../includes/variables";
@import "../includes/mixins";

.btn-cache{
    float: left;
    position: relative;
    top: 1px;
    margin-left: 5px;
}

#webFormId_KikCMSFormsSettingsForm .form-group:last-child{
    float: left;
}