/* Colors */
$colorWhite: #fff;
$colorBlack: #000;

$colorPink: #df137a;
$pinkDark: darken($colorPink, 5%);
$pinkDarker: darken($colorPink, 15%);
$pinkHover: #f8e3ee;

$lightGray: #e1e1e1;
$lightGrayDark: darken($lightGray, 5%);
$lightGrayDarker: darken($lightGray, 15%);
$lightGrayLight: #f0f0f0;
$superLightGray: #fafafa;
$gray: #aaaaaa;

$highLightColor: #dff0d8;
$highLightColorDark: darken($highLightColor, 5%);

$colorErrorBg: #f2dede;
$colorErrorText: #a94442;

$selectedTextBlue: #3875d7;

/* Font sizes */
$fontSizeSmall: 12px;
$fontSizeDefault: 14px;
$fontSizeMedium: 17px;
$fontSizeLarge: 20px;

/* Miscellaneous */
$defaultBorderRadius: 3px;

$lowerThanDesktop: "(max-width: 1130px)";
$heightBelowHd: "(max-height: 900px)";

/* Z-indexes */
$zIndexWindowLevel0: 3;
$zIndexWindowLevelZero: 3;
$zIndexAboveLevel10Window: 15;

/* Default paddings and margins */
$dataTableCellVerticalPadding: 8px;
$dataTableCellPadding: $dataTableCellVerticalPadding 15px;