{# @var file \KikCMS\Models\File #}
{% if file.isImage %}
    <img src="{{ mediaFile(file.id, 'default', true) }}" />
{% elseif(file.extension == 'svg') %}
    <img src="{{ mediaFile(file.id, 'default', true) }}" width="96" />
{% elseif(file.isFolder) %}
    <img src="/cmsassets/images/folder.png"/>
{% else %}
    <span class="extension">{{ file.extension }}</span>
    <span class="glyphicon glyphicon-file"></span>
{% endif %}

{% if file.key %}
    <span class="icon-locked glyphicon glyphicon-lock"></span>
{% endif %}