{# @var finderFile \KikCMS\Models\FinderFile #}
{% if finderFile.isImage or finderFile.extension == 'svg' %}
    <img src="{{ mediaFile(finderFile.id, 'default', true) }}"/>
{% elseif(finderFile.isFolder) %}
    <img src="/cmsassets/images/folder.png"/>
{% else %}
    <span class="extension">{{ finderFile.extension }}</span>
    <span class="glyphicon glyphicon-file"></span>
{% endif %}

{% if finderFile.key %}
    <span class="icon-locked glyphicon glyphicon-lock"></span>
{% endif %}