{% extends '@kikcms/datatable/index.twig' %}

{% block additionalButtons %}

    <div class="pageTypes dropdown">

        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
            <span class="lbl">
                {{ tl('dataTables.pages.addItem') }}
            </span>
            <span class="caret"></span>
        </button>

        <ul class="dropdown-menu">
            <li>
                <a data-type="link">
                    <span class="glyphicon glyphicon-link"></span>{{ tl('dataTables.pages.link') }}
                </a>
            </li>
            {% if allowed('editMenus') %}
                <li>
                    <a data-type="menu">
                        <span class="glyphicon glyphicon-menu-hamburger"></span>{{ tl('dataTables.pages.menu') }}
                    </a>
                </li>
            {% endif %}
        </ul>

    </div>

{% endblock %}