<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    {{ assets.outputCss() }}
    {% block head '' %}
</head>
<body>
{% block body %}{% endblock %}
{{ assets.outputJs() }}
</body>
</html>