@mixin placeholderColor($color) {
    &::-webkit-input-placeholder {
        color: $color;
    }
    &:-moz-placeholder {
        color: $color;
        opacity: 1;
    }
    &::-moz-placeholder {
        color: $color;
        opacity: 1;
    }
    &:-ms-input-placeholder {
        color: $color;
    }
}

@mixin fontDefault(){
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}