/* Colors */
$colorWhite: #ffffff;

$colorPink: #df137a;
$pinkDark: darken($colorPink, 5%);
$pinkDarker: darken($colorPink, 15%);
$pinkHover: #f8e3ee;

$lightGray: #dddddd;
$gray: #aaaaaa;

/* Miscellaneous */
$defaultBorderRadius: 3px;