{% extends '@kikcms/cms/base.twig' %}

{%- block title tl('error.404.title') -%}

{% block cmsContent %}

    <h1>{{ tl('error.500.title') }}</h1>
    <p>{{ tl('error.500.description') }}</p>

{% endblock %}