{% extends '@kikcms/cms/base.twig' %}

{%- block title 'Internal Error' -%}

{% block cmsContent %}

    <h1>Internal Error</h1>
    <p>Something went wrong, if the error continue please contact us</p>
    <p>{{ linkTo('index', 'Home', {'class': 'btn btn-primary'}) }}</p>

{% endblock %}