@import "../../includes/variables";
@import "../../includes/mixins";

.dataTableWindow .windowContent .finder .files {
    overflow: auto;

    .files-container {
        min-height: 0;
    }
}

.finder {

    .files {
        @include noTextSelect();
        position: relative;
        background-color: $superLightGray;
        border-radius: $defaultBorderRadius;

        .progress {
            width: 100%;
            position: absolute;
            height: 3px;
            top: 0;
            left: 0;
            display: none;
        }

        .path {
            .breadcrumb {
                margin: 0;
                background-color: $lightGrayLight;
                border-radius: $defaultBorderRadius $defaultBorderRadius 0 0;

                a {
                    cursor: pointer;
                }
            }
        }

        .files-container {
            @include clearFix();
            min-height: 500px;
            padding: 0 10px 10px 0;

            .file {
                float: left;
                width: 120px;
                height: 156px;
                margin: 10px 0 0 10px;

                .thumb {
                    position: relative;

                    .icon-locked {
                        position: absolute;
                        width: 16px;
                        height: 15px;
                        right: 16px;
                        bottom: 16px;
                        color: $grayDark;
                        top: auto;
                        font-size: 15px;
                    }
                }

                &.edited {

                    .thumb {
                        background-color: $highLightColor;
                    }
                }

                &.selected {

                    .thumb {
                        background-color: $lightGray;
                    }

                    .name {
                        color: $colorWhite;
                        max-height: 31px;

                        span {
                            background-color: $selectedTextBlue;
                        }
                    }
                }

                &.cut {
                    opacity: 0.5;
                }

                .name {
                    text-align: center;
                    max-width: 120px;
                    max-height: 32px;
                    overflow: hidden;
                    line-height: 16px;
                    margin-top: 5px;
                    text-overflow: ellipsis;

                    .highlight {
                        background-color: $highLightColor;
                    }
                }
            }
        }
    }
}