@import '../includes/variables';
@import '../includes/mixins';

@mixin draggablePageName() {
    display: block;
    padding: 7px 12px;
    border: 1px solid $lightGray;
    background-color: $superLightGray;
    border-radius: $defaultBorderRadius;
    color: $colorBlack;
    width: 250px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: move;
}

.datatable .toolbar .pageTypes {

    float: left;

    a {
        cursor: pointer;

        .glyphicon {
            width: 24px;
        }
    }
}

.datatable .table table tbody tr {

    .defaultLanguagePlaceHolder {
        color: $lightGrayDarker;
    }

    &.pageObject {

        td {
            position: relative;
        }

        &.menu {
            .name {
                border-color: $gray;
                background-color: $gray;
                color: $colorWhite;
            }
        }

        .name {
            @include draggablePageName();

            .glyphicon {
                width: 18px;
                top: 2px;
            }

            &.dragged {
                opacity: .2;
            }
        }

        &.dragHover {
            &[data-drop="into"] .name {
                border: 3px solid $selectedTextBlue;
                padding: $dataTableCellVerticalPadding - 3px 10px;
            }

            &[data-drop="before"] .name {
                border-top: 3px solid $selectedTextBlue;
                padding-top: $dataTableCellVerticalPadding - 3px;
            }

            &[data-drop="after"] .name {
                border-bottom: 3px solid $selectedTextBlue;
                padding-bottom: $dataTableCellVerticalPadding - 3px;
            }
        }

        @for $i from 1 through 10 {
            &.level#{$i} {
                .name {
                    margin-left: 40px * ($i);
                }
            }
        }
    }
}

.draggedObject {
    @include draggablePageName();
}

.datatable .table table tr.dragHover.pageObject {
    &[data-drop="before"], &[data-drop="after"] + tr {
        td {
            padding-top: 8px;
        }
    }
}