.datatable{

    .table{

        td.select{
            width: 44px;

            input{
                height: 14px;
                width: 14px;
                display: block;
                margin: 0;
                pointer-events: none;
            }
        }

        td.amount{
            width: 100px;
            padding-top: 4px;
            padding-bottom: 4px;

            input{
                height: 28px;
                padding: 7px;
            }
        }
    }
}