version: "3"
services:
  php:
    image: kiksaus/kikdev-debug
    restart: always
    ports:
        - "9901:443"
    volumes:
        - ../tests/TestSitePath/public_html/:/var/www/html:cached
        - ../resources/:/var/www/html/cmsassets:cached
        - ../tests/TestSitePath/:/var/www:cached
        - ../tests/TestSitePath/vendor/:/var/www/vendor:cached
        - ../:/kikcms:cached
        - ~/.docker-kikdev/logs:/var/log/apache2/:cached
    networks:
      kikdev:
        aliases:
          - kikcmstest.dev
    environment:
      XDEBUG_CONFIG: remote_host=docker.for.mac.host.internal

  mailhog:
    image: mailhog/mailhog
    restart: always
    ports:
      - "8026:8025"
      - "1026:1025"
    networks:
      kikdev:
        aliases:
          - mailtest

  selenium:
    image: selenium/standalone-chrome
    restart: always
    ports:
      - "4444:4444"
    networks:
      kikdev:
        aliases:
          - kikdev-selenium

networks:
  kikdev:
    external:
      name: kikdev