version: "3"
services:
  php:
    image: kiksaus/kikdev
    restart: always
    ports:
        - "443:443"
    volumes:
        - ../../../../public_html/:/var/www/html:cached
        - ../../../../:/var/www:cached
        - ../../:/var/www/vendor/kiksaus:cached
        - ~/.docker-kikdev/logs/:/var/log/apache2/:cached
        - /var/www/assets/
        - /var/www/.git/
        - /var/www/vendor/kiksaus/kikcms/assets/
    depends_on:
      - mysql
      - mailhog
    networks:
      - kikdev

  mysql:
    image: mariadb
    restart: always
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: ${PASS}
    volumes:
      - ~/.docker-kikdev/mysql/:/var/lib/mysql
    networks:
      kikdev:
        aliases:
          - mysql

  mailhog:
    image: mailhog/mailhog
    restart: always
    ports:
      - "8025:8025"
      - "1025:1025"
    networks:
      kikdev:
        aliases:
          - mail

networks:
  kikdev:
    external:
      name: kikdev