/* Toolbar components have a toolbar like the dataTable and the Finder */
@import "../includes/variables";
@import "../includes/mixins";

// since this field can be shown inside a form-group with has-errors, we prevent it here from getting a red border
.has-error .search input{
    border-color: $lightGray;
    box-shadow: none;

    &:focus{
        border-color: $lightGray;
    }
}

.toolbarComponent {

    > .toolbar {
        @include clearFix();
        padding: 0 0 36px 0;
        width: 100%;
        position: relative;
        min-height: 72px;

        .language {
            float: right;

            select {
                width: 150px;
                text-indent: 5px;
            }
        }

        .search {
            float: right;
            width: 220px;
            position: relative;
            margin: 0 0 0 10px;

            .glyphicon-search {
                position: absolute;
                top: 11px;
                left: 14px;
            }

            .glyphicon-remove {
                pointer-events: auto;
                cursor: pointer;
                display: none;
            }

            input {
                padding-left: 38px;
            }
        }

        .dropdown {
            display: inline-block;
        }

        .btn{
            float: left;
            margin-right: 5px;
        }
    }

    .btn.upload, .btn.overwrite {
        position: relative;

        .lbl {
            font-weight: 300;
        }

        input {
            display: none;
        }
    }

    .filters{
        @include clearFix();
        background-color: $superLightGray;
        padding: 12px 15px;
        border-radius: $defaultBorderRadius;
        margin-bottom: 18px;

        .filter{
            float: left;
            margin-right: 15px;

            label{
                margin-right: 7px;
            }

            .form-control{
                display: inline-block;
                width: auto;
            }

            select{
                max-width: 250px;
            }

            &:last-child{
                margin-right: 0;
            }
        }
    }
}