@import "../includes/variables";
@import "../includes/mixins";

.webForm {
    position: relative;

    .type-file {

        input[type=file] {
            display: none;
        }

        .btn {
            margin-right: 4px;
        }

        .file-picker {
            display: none;
            padding: 12px;
            border: 1px solid $lightGray;
            border-radius: $defaultBorderRadius;
            margin-top: 8px;

            .toolbar {
                padding-bottom: 12px;
            }

            .files-container {
                min-height: 342px;
            }

            > .buttons {
                text-align: right;
                padding-top: 12px;

                .btn {
                    margin-right: 0;
                    margin-left: 4px;
                }
            }
        }

        .buttons {
            @include clearFix();

            .preview {
                position: relative;
                padding: 7px;
                float: left;
                margin-right: 8px;
                height: auto;
                width: auto;
                cursor: pointer;
                opacity: 1;
                transition: opacity 0.3s;

                &.hidden {
                    opacity: 0;
                }

                .thumb {
                    transition: width .3s, height .3s;
                }
            }
        }
    }

    .type-wysiwyg{
        .mce-branding-powered-by, .mce-branding{
            display: none;
        }
    }

    .datatable {
        border: 1px solid $lightGray;
        border-radius: $defaultBorderRadius;

        .toolbar, .footer, .table .no-data {
            padding: 12px;
        }

        .footer {
            display: none;
        }

        .table {
            margin-bottom: 0;

            tbody tr:last-child {
                td:first-child {
                    border-bottom-left-radius: $defaultBorderRadius;
                }

                td:last-child {
                    border-bottom-right-radius: $defaultBorderRadius;
                }
            }
        }

        > .filters{
            border-radius: 0;
        }
    }

    .type-button .field {
        border: 1px solid $lightGray;
        border-radius: $defaultBorderRadius;
        padding: 12px;

        .info {
            margin-bottom: 10px;
        }
    }

    .type-wysiwyg .tinymce-branding a{
        float: right;
        color: $lightGrayDark;
        font-size: 11px;
        top: 5px;
    }

    .type-wysiwyg {
        position: relative;

        &.click-to-activate{
            &:before {
                content: '';
                position: absolute;
                width: 100%;
                height: calc(100% - 24px);
                background-color: rgba(0,0,0,.2);
                margin-top: 22px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
                cursor: pointer;
                pointer-events: none;
            }

            &:hover{
                cursor: pointer;

                &:before{
                    content: 'Click to edit';
                    background-color: rgba(0,0,0,.4);
                }
            }
        }
    }

    .required-message{
        color: $gray;
    }

    .helptext-btn{
        text-decoration: none;
        outline: none;
    }

    .header{
        font-size: $fontSizeMedium;
        color: $grayMedium;
        margin-bottom: 15px;
    }

    .translate{
        cursor: pointer;
    }
}

.twitter-typeahead{
    display: inherit !important;
}

.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
    margin-bottom: 0;
}

.tt-hint {
    color: #999;
}

.tt-menu {
    min-width: 160px;
    margin-top: 2px;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}

.tt-suggestion {
    display: block;
    padding: 3px 20px;
    width: 100%;
    white-space: nowrap;
}

.tt-suggestion.tt-selectable {
    margin: 0;
}

.tt-suggestion {
    &:hover{
        background-color: #f6f6f6;
    }

    &.tt-cursor{
        cursor: pointer;
        color: #fff;
        background-color: #428bca;
    }
}

.tt-suggestion.tt-cursor a {
    color: #fff;
}

.tt-suggestion p {
    margin: 0;
}

.type-file.has-error .buttons .btn{
    border-color: $colorErrorText;
}