/* Colors */
/* Miscellaneous */
/* Z-indexes */
/* Default paddings and margins */
body > *:not(.dataTableWindow) {
  transition: filter, opacity 0.3s; }
body > #overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 0;
  z-index: 3;
  transition: opacity 0.3s; }
body .datatableThumbHoverContainer {
  position: absolute;
  z-index: 15; }
  body .datatableThumbHoverContainer img {
    max-width: 96px;
    max-height: 96px;
    border-radius: 3px;
    border: 1px solid #e1e1e1; }
body.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
    user-select: none;
}

:root > body.datatableBlur {
  overflow: hidden; }
  :root > body.datatableBlur > #menu, :root > body.datatableBlur > #main {
    -webkit-filter: blur(6px);
    -ms-filter: blur(6px);
    filter: blur(6px);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    opacity: 0.5; }
  :root > body.datatableBlur #overlay {
    display: block;
    opacity: 1; }

.dataTableWindow {
  width: 1050px;
  position: fixed;
  top: 40px;
  bottom: 40px;
  background-color: rgba(255, 255, 255, 0.97);
  z-index: 3;
  left: 50%;
  margin-left: -525px;
  border: 1px solid #e1e1e1;
  border-radius: 3px;
  display: none;
  min-height: 300px; }
  @media (max-width: 1130px) {
    .dataTableWindow {
      width: auto;
      top: 40px;
      bottom: 40px;
      left: 40px;
      right: 40px;
      margin-left: 0; } }
  .dataTableWindow.blur {
    -webkit-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px); }
    .dataTableWindow.blur .windowContent {
      opacity: .5; }
  .dataTableWindow.level1 {
    z-index: 4;
    top: 60px;
    bottom: 60px;
    width: 920px;
    margin-left: -460px; }
    @media (max-width: 1130px) {
      .dataTableWindow.level1 {
        width: auto;
        top: 50px;
        bottom: 50px;
        left: 50px;
        right: 50px;
        margin-left: 0; } }
  .dataTableWindow.level2 {
    z-index: 5;
    top: 70px;
    bottom: 70px;
    width: 940px;
    margin-left: -470px; }
    @media (max-width: 1130px) {
      .dataTableWindow.level2 {
        width: auto;
        top: 50px;
        bottom: 50px;
        left: 50px;
        right: 50px;
        margin-left: 0; } }
  .dataTableWindow.level3 {
    z-index: 6;
    top: 80px;
    bottom: 80px;
    width: 960px;
    margin-left: -480px; }
    @media (max-width: 1130px) {
      .dataTableWindow.level3 {
        width: auto;
        top: 50px;
        bottom: 50px;
        left: 50px;
        right: 50px;
        margin-left: 0; } }
  .dataTableWindow.level4 {
    z-index: 7;
    top: 90px;
    bottom: 90px;
    width: 980px;
    margin-left: -490px; }
    @media (max-width: 1130px) {
      .dataTableWindow.level4 {
        width: auto;
        top: 50px;
        bottom: 50px;
        left: 50px;
        right: 50px;
        margin-left: 0; } }
  .dataTableWindow.level5 {
    z-index: 8;
    top: 100px;
    bottom: 100px;
    width: 1000px;
    margin-left: -500px; }
    @media (max-width: 1130px) {
      .dataTableWindow.level5 {
        width: auto;
        top: 50px;
        bottom: 50px;
        left: 50px;
        right: 50px;
        margin-left: 0; } }
  .dataTableWindow.level6 {
    z-index: 9;
    top: 110px;
    bottom: 110px;
    width: 1020px;
    margin-left: -510px; }
    @media (max-width: 1130px) {
      .dataTableWindow.level6 {
        width: auto;
        top: 50px;
        bottom: 50px;
        left: 50px;
        right: 50px;
        margin-left: 0; } }
  .dataTableWindow.level7 {
    z-index: 10;
    top: 120px;
    bottom: 120px;
    width: 1040px;
    margin-left: -520px; }
    @media (max-width: 1130px) {
      .dataTableWindow.level7 {
        width: auto;
        top: 50px;
        bottom: 50px;
        left: 50px;
        right: 50px;
        margin-left: 0; } }
  .dataTableWindow.level8 {
    z-index: 11;
    top: 130px;
    bottom: 130px;
    width: 1060px;
    margin-left: -530px; }
    @media (max-width: 1130px) {
      .dataTableWindow.level8 {
        width: auto;
        top: 50px;
        bottom: 50px;
        left: 50px;
        right: 50px;
        margin-left: 0; } }
  .dataTableWindow.level9 {
    z-index: 12;
    top: 140px;
    bottom: 140px;
    width: 1080px;
    margin-left: -540px; }
    @media (max-width: 1130px) {
      .dataTableWindow.level9 {
        width: auto;
        top: 50px;
        bottom: 50px;
        left: 50px;
        right: 50px;
        margin-left: 0; } }
  .dataTableWindow.level10 {
    z-index: 13;
    top: 150px;
    bottom: 150px;
    width: 1100px;
    margin-left: -550px; }
    @media (max-width: 1130px) {
      .dataTableWindow.level10 {
        width: auto;
        top: 50px;
        bottom: 50px;
        left: 50px;
        right: 50px;
        margin-left: 0; } }
  .dataTableWindow > .closeButton {
    width: 30px;
    height: 30px;
    right: 50px;
    top: 32px;
    position: absolute;
    cursor: pointer; }
    .dataTableWindow > .closeButton:before, .dataTableWindow > .closeButton:after {
      position: absolute;
      left: 15px;
      height: 30px;
      content: ' ';
      width: 1px;
      background-color: #333; }
    .dataTableWindow > .closeButton:before {
      transform: rotate(45deg); }
    .dataTableWindow > .closeButton:after {
      transform: rotate(-45deg); }
  .dataTableWindow > .windowContent > .header {
    font-size: 24px;
    padding: 30px 100px 30px 50px;
    border-bottom: 1px solid #e1e1e1;
    width: 100%; }

.dataTableWindow > .windowContent > .header:after {
    content: "";
    display: table;
    clear: both;
}

.dataTableWindow > .windowContent > .header .lbl {
    float: left;
    width: 50%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.dataTableWindow > .windowContent > .header .filters {
    text-align: right;
    float: right;
}

.dataTableWindow > .windowContent > .header .filters select {
    width: 200px;
    text-indent: 5px;
}
  .dataTableWindow > .windowContent > .tabs {
    border-bottom: 1px solid #e1e1e1;
    white-space: nowrap;
    overflow: auto; }
    .dataTableWindow > .windowContent > .tabs:after {
      content: "";
      display: table;
      clear: both; }
    .dataTableWindow > .windowContent > .tabs .tab {
      display: inline-block;
      cursor: pointer;
      padding: 15px 50px; }
      .dataTableWindow > .windowContent > .tabs .tab.error {
        color: #a94442; }
      .dataTableWindow > .windowContent > .tabs .tab.active {
        background-color: #f0f0f0; }
  .dataTableWindow > .windowContent > .content {
    overflow: auto;
    padding: 30px 50px; }
    .dataTableWindow > .windowContent > .content .tab-contents .tab-content {
      display: none; }
      .dataTableWindow > .windowContent > .content .tab-contents .tab-content.active {
        display: block; }
  .dataTableWindow > .windowContent > .footer {
    position: absolute;
    padding: 10px;
    border-top: 1px solid #e1e1e1;
    bottom: 0;
    width: 100%;
    text-align: right; }
    .dataTableWindow > .windowContent > .footer button {
      margin-left: 5px;
      padding: 10px 35px; }

.datatable .pages {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  float: right;
  max-height: 36px;
  overflow: hidden; }
  .datatable .pages .pagination {
    margin: 0;
    padding: 0; }
    .datatable .pages .pagination > li > a {
      padding: 7px 12px;
      color: #df137a;
      cursor: pointer;
      min-width: 36px;
      text-align: center; }
    .datatable .pages .pagination > .active > a {
      color: #fff;
      background-color: #df137a;
      border-color: #df137a; }
.datatable .table {
  transition: opacity, -webkit-filter, filter 0.3s; }
  .datatable .table table {
    width: 100%; }
    .datatable .table table tr {
      height: 36px; }
    .datatable .table table tr td {
      padding: 8px 15px; }
    .datatable .table table thead {
      font-weight: 700; }
      .datatable .table table thead td {
        position: relative;
        cursor: pointer; }
        .datatable .table table thead td .glyphicon {
          position: absolute;
          top: auto;
          margin-left: 8px;
          margin-top: 3px;
          color: #aaaaaa; }
    .datatable .table table tbody {
      overflow: auto;
      height: 400px; }
      .datatable .table table tbody tr {
        cursor: default; }
        .datatable .table table tbody tr td {
          transition: padding 0.3s;
          -webkit-touch-callout: none;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none; }
          .datatable .table table tbody tr td .highlight {
            background-color: #dff0d8; }
          .datatable .table table tbody tr td .thumb {
            cursor: zoom-in;
            width: 34px;
            height: 34px;
            top: 0;
            margin-bottom: -7px;
            margin-top: -7px;
            background-size: cover;
            background-position: center center;
            border-radius: 3px; }
        .datatable .table table tbody tr:nth-child(odd) {
            background-color: #fafafa;
        }

.datatable .table table tbody tr:hover:not(.dragHover) td {
          background-color: #eee; }
        .datatable .table table tbody tr.edited td {
          background-color: #dff0d8; }
        .datatable .table table tbody tr.edited:hover td {
          background-color: #d0e9c6; }
        .datatable .table table tbody tr.selected td {
          background-color: #df137a;
          color: #fff; }
          .datatable .table table tbody tr.selected td .highlight {
            background-color: #c8116d; }
        .datatable .table table tbody tr.selected:hover td {
          background-color: #c8116d; }
          .datatable .table table tbody tr.selected:hover td .highlight {
            background-color: #990d53; }

.datatable .table table tbody tr td.action {
          text-align: center;
          width: 60px;
          cursor: pointer; }

.datatable .table table tbody tr td.action .glyphicon {
            display: none;
            margin-top: -2px; }

.datatable .table table tbody tr td.sort {
    cursor: move;
}

.datatable .table table tbody tr:hover td.action .glyphicon {
          display: block; }
  .datatable .table .no-data {
    padding: 8px 0; }
.datatable > .footer:after {
  content: "";
  display: table;
  clear: both; }

.draggedObject {
  display: block;
  z-index: 3;
  position: absolute;
  pointer-events: none;
    opacity: .95;
}

.draggedObject.rowClone {
    background-color: #fff;
    -webkit-box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.25);
}

.draggedObject.rowClone td {
    padding: 8px 15px;
}

.draggedObject.rowClone .action .glyphicon {
    display: none;
}

body.isDragging * {
    cursor: default !important;
}
body.isDragging .datatable tbody, body.isDragging .datatable tbody * {
    cursor: move !important;
}

.datatable .table table tr.dragged {
    opacity: .3;
}
.datatable .table table tr.dragHover {
    cursor: move;
}

.datatable .table table tr.dragHover[data-drop="before"] td, .datatable .table table tr.dragHover[data-drop="after"] + tr td {
    padding-top: 44px;
}

.datatable .table table tr.dragHover[data-drop="after"]:last-child td {
    padding-bottom: 44px;
}

/*# sourceMappingURL=datatable.css.map */
