/* Colors */
/* Miscellaneous */
body > *:not(.datatableWindow) {
  transition: filter, opacity 0.3s; }

body.datatableBlur {
  overflow: hidden; }
  body.datatableBlur > *:not(#notFading) {
    -webkit-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    opacity: 0.2; }

.datatableWindow {
  width: 1000px;
  position: fixed;
  top: 40px;
  bottom: 40px;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 3;
  left: 50%;
  margin-left: -500px;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  display: none; }
  .datatableWindow .closeButton {
    width: 30px;
    height: 30px;
    right: 50px;
    top: 32px;
    position: absolute;
    cursor: pointer; }
    .datatableWindow .closeButton:before, .datatableWindow .closeButton:after {
      position: absolute;
      left: 15px;
      height: 30px;
      content: ' ';
      width: 1px;
      background-color: #333; }
    .datatableWindow .closeButton:before {
      transform: rotate(45deg); }
    .datatableWindow .closeButton:after {
      transform: rotate(-45deg); }
  .datatableWindow .header {
    font-size: 24px;
    padding: 30px 50px;
    border-bottom: 1px solid #e1e1e1;
    width: 100%; }
  .datatableWindow .content {
    overflow: auto;
    height: 1057px;
    padding: 50px; }
  .datatableWindow .footer {
    position: absolute;
    padding: 10px;
    border-top: 1px solid #e1e1e1;
    bottom: 0;
    width: 100%;
    text-align: right; }
    .datatableWindow .footer button {
      margin-left: 5px;
      padding: 10px 35px; }

.datatable .toolbar {
  padding: 50px 0 36px 0;
  margin-top: -50px;
  background-color: #fff;
  width: 100%;
  z-index: 2;
  position: relative; }
  .datatable .toolbar:after {
    content: "";
    display: table;
    clear: both; }
  .datatable .toolbar .button {
    float: left;
    margin: 0 8px 0 0;
    border-radius: 4px;
    padding: 7px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    border: 1px solid #e1e1e1; }
    .datatable .toolbar .button .glyphicon {
      width: 14px; }
    .datatable .toolbar .button .lbl {
      margin-left: 8px; }
    .datatable .toolbar .button.delete {
      display: none; }
    .datatable .toolbar .button:hover {
      background-color: #aaaaaa;
      border-color: #aaaaaa;
      color: #fff; }
  .datatable .toolbar .search {
    float: right;
    width: 220px;
    position: relative; }
    .datatable .toolbar .search .glyphicon-search {
      position: absolute;
      top: 11px;
      left: 14px; }
    .datatable .toolbar .search .glyphicon-remove {
      pointer-events: auto;
      cursor: pointer;
      display: none; }
    .datatable .toolbar .search input {
      padding-left: 38px; }
  .datatable .toolbar .pages {
    margin: 0 10px 0 0; }
.datatable .pages {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  float: right;
  max-height: 36px;
  overflow: hidden; }
  .datatable .pages .pagination {
    margin: 0;
    padding: 0; }
    .datatable .pages .pagination > li > a {
      padding: 7px 12px;
      color: #df137a;
      cursor: pointer;
      min-width: 36px;
      text-align: center; }
    .datatable .pages .pagination > .active > a {
      color: #fff;
      background-color: #df137a;
      border-color: #df137a; }
.datatable .table {
  transition: opacity, -webkit-filter, filter 0.3s; }
  .datatable .table table {
    width: 100%; }
    .datatable .table table tr td {
      padding: 8px 15px; }
    .datatable .table table thead {
      font-weight: 700;
      background-color: #fff; }
      .datatable .table table thead td {
        cursor: pointer; }
    .datatable .table table tbody {
      overflow: auto;
      height: 400px; }
      .datatable .table table tbody tr {
        cursor: default; }
        .datatable .table table tbody tr td {
          -webkit-touch-callout: none;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none; }
          .datatable .table table tbody tr td .highlight {
            background-color: #dff0d8; }
        .datatable .table table tbody tr:nth-child(odd) {
          background-color: #f9f9f9; }
        .datatable .table table tbody tr:hover td {
          background-color: #eee; }
        .datatable .table table tbody tr.edited td {
          background-color: #dff0d8; }
        .datatable .table table tbody tr.edited:hover td {
          background-color: #d0e9c6; }
        .datatable .table table tbody tr.selected td {
          background-color: #df137a;
          color: #fff; }
          .datatable .table table tbody tr.selected td .highlight {
            background-color: #c8116d; }
        .datatable .table table tbody tr.selected:hover td {
          background-color: #c8116d; }
          .datatable .table table tbody tr.selected:hover td .highlight {
            background-color: #990d53; }
        .datatable .table table tbody tr td.edit {
          text-align: center;
          width: 60px;
          cursor: pointer; }
          .datatable .table table tbody tr td.edit .glyphicon {
            display: none;
            margin-top: -2px; }
        .datatable .table table tbody tr:hover td.edit .glyphicon {
          display: block; }
  .datatable .table .no-data {
    padding: 8px 0; }
.datatable > .footer:after {
  content: "";
  display: table;
  clear: both; }

/*# sourceMappingURL=datatable.css.map */
