@import "includes/variables";
@import "includes/mixins";

html, body{
    height: 100%;
}

body, table{
    @include fontDefault();
}

a{
    color: $colorPink;

    &:hover{
        color: $pinkDark;
    }
}