@import "includes/variables";
@import "includes/mixins";

html, body{
    height: 100%;
}

body, table{
    @include fontDefault();
}

a{
    color: $colorPink;

    &:hover{
        color: $pinkDark;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

#ajaxDebugger{
    display: none;
    position: fixed;
    left: 35px;
    top: 35px;
    padding: 20px;
    border: 1px solid $lightGray;
    background-color: rgba(255, 255, 255, 0.97);
    z-index: 10;
    max-width: 1200px;
    max-height: 800px;
    overflow: scroll;

    h1 {
        margin-top: 0;
    }
}

#cmsLoader{
    @include clearFix();
    position: fixed;
    left: 35px;
    top: 35px;
    padding: 13px 10px;
    border: 1px solid $lightGray;
    background-color: rgba(255,255,255,0.95);
    border-radius: $defaultBorderRadius;
    z-index: 10;
    transition: opacity 0.3s;
    opacity: 0;

    &.show{
        opacity: 1;
    }

    img{
        height: 40px;
        float: left;

        .sand{
            fill: green;
        }
    }

    span{
        float: left;
        padding: 9px 12px 0 12px;
        display: inline-block;
        font-weight: 400;
    }
}

.elementLoading{
    @include blur(8);
    @include noTextSelect();
    pointer-events: none;
    opacity: 0.7;
}

.easeOutBgColor, tr.easeOutBgColor td{
    transition: background-color 0.5s;
}