@import "includes/variables";
@import "includes/mixins";

.finder {

    .files {
        @include noTextSelect();
        position: relative;
        background-color: $superLightGray;
        border-radius: $defaultBorderRadius;
        border: 1px solid $lightGray;

        .progress {
            width: 100%;
            position: absolute;
            height: 3px;
            top: 0;
            left: 0;
            display: none;
        }

        .path {
            .breadcrumb {
                margin: 0;
                background-color: $lightGrayLight;
                border-radius: $defaultBorderRadius $defaultBorderRadius 0 0;

                a {
                    cursor: pointer;
                }
            }
        }

        .files-container {
            @include clearFix();
            min-height: 500px;
            padding: 0 10px 10px 0;

            .file {
                float: left;
                width: 120px;
                height: 156px;
                margin: 10px 0 0 10px;

                &.created {

                    .thumb {
                        background-color: $highLightColor;
                    }
                }

                &.selected {

                    .thumb {
                        background-color: $lightGray;
                    }

                    .name {
                        span {
                            color: #fff;
                            background-color: $selectedTextBlue;
                        }
                    }
                }

                .thumb {
                    border-radius: $defaultBorderRadius;
                    position: relative;
                    width: 120px;
                    height: 120px;
                    text-align: center;
                    display: table-cell;
                    vertical-align: middle;

                    img {
                        border-radius: $defaultBorderRadius;
                    }

                    .glyphicon {
                        text-align: center;
                        font-size: 96px;
                        width: 72px;
                        overflow: hidden;
                        color: $gray;

                        &:before {
                            margin-left: -8px;
                        }
                    }

                    .extension {
                        position: absolute;
                        z-index: 1;
                        font-size: 30px;
                        text-transform: uppercase;
                        font-weight: 900;
                        top: 50px;
                        width: 72px;
                        text-align: center;
                        color: $lightGrayDark;
                        cursor: default;
                    }
                }

                .name {
                    text-align: center;
                    max-width: 120px;
                    max-height: 50px;
                    overflow: hidden;
                    line-height: 16px;
                    margin-top: 5px;

                    .highlight {
                        background-color: $highLightColor;
                    }
                }

                &.folder {

                    img {
                        width: 96px;
                    }
                }
            }
        }
    }

    .button.upload {
        position: relative;

        .lbl {
            font-weight: 300;
        }

        input {
            display: none;
        }
    }
}