@import 'includes/variables';
@import 'includes/mixins';

.datatable .table table tbody tr {

    &.pageObject {

        .name {
            display: block;
            padding: 7px 12px;
            border: 1px solid $lightGray;
            background-color: $superLightGray;
            border-radius: $defaultBorderRadius;
            color: #000;
            width: 250px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            cursor: move;
        }

        &.menu .name {
            border-color: $gray;
            background-color: $gray;
            color: #fff;
        }

        &.page .name {
            margin-left: 40px;
        }
    }
}