{% extends '@kikcms/cms/default.twig' %}

{% block cmsContent %}
    <div class="settingsform">
        {{ parent() }}
        <a href="/cms/cache" class="btn btn-primary btn-cache">{{ tl('cms.cacheManagement.buttonLabel') }}</a>
        <div style="clear: both;"></div>
    </div>
{% endblock %}