{% extends '@kikcms/cms/base.twig' %}

{%- block title tl('error.401.title') -%}

{% block cmsContent %}

    <h1>{{ tl('error.401.title') }}</h1>
    <p>{{ tl('error.401.description')|nl2br }}</p>

{% endblock %}