{% extends '@kikcms/login/base.twig' %}

{%- block title tl('login.activate.title') -%}

{% block loginContent %}
    <div id="login-form">
        {{ form|raw }}
    </div>

    <a href="{{ url('cms/login') }}">{{ tl('login.back') }}</a>
{% endblock %}