{# @var flash \Phalcon\Flash\Session #}
{% extends '@kikcms/base.twig' %}

{%- block title -%}
    Login
{%- endblock -%}

{% block bodyClass 'login' %}

{% block content %}
    <div id="login">
        <div class="logo"></div>
        {{ flash.output }}
        {% block loginContent %}{% endblock %}
    </div>
{% endblock %}