{% extends '@kikcms/login/base.twig' %}

{%- block title -%}
    Login
{%- endblock -%}

{% block loginContent %}
    <div id="login-form">
        {{ form|raw }}
    </div>

    <a href="{{ url('cms/login/reset') }}">Wachtwoord vergeten?</a>
{% endblock %}