{% extends 'login/base.twig' %}

{%- block title 'Wachtwoord resetten' -%}

{% block loginContent %}
    <div id="login-form">
        {{ form|raw }}
    </div>

    <a href="{{ url('cms/login') }}">Terug naar loginscherm</a>
{% endblock %}