{%- extends '@kikcms/datatable/table.twig' -%}

{% block extraColumns %}
    <td class="select">
        <input type="checkbox" />
    </td>
{% endblock %}

{% block actionEditColumn '' %}
{% block actionDeleteColumn '' %}